ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: roboto, arial, sans-serif;
}

ul.tl {
  float: left;
}

ul.tr {
  float: right;
}

ul.bl {
  float: left;
}

ul.bc {
  float: default;
}

ul.br {
  float: right;
}

li {
  float: left;
}

li.t a {
  display: block;
  color: #272727;
  text-align: center;
  font-size: 13px;
  padding: 14px 16px;
  text-decoration: none;
}

li.b a {
  display: block;
  color: #74757a;
  text-align: center;
  font-size: 13px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  text-decoration: underline;
}

body {
  background-color: rgb(255, 255, 255);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profile {
  border-radius: 50%;
  padding: 10px 20px;
}

#apps {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

img.logo {
  position: absolute;
  top: 24.65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  position: absolute;
  top: 32.45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 482px;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: roboto, arial, sans-serif;
  font-size: 14px;
  margin: 11px 16px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

button.l {
  position: absolute;
  top: 37%;
  left: 42%;
  transform: translate(-50%, -50%);
}

button.r {
  position: absolute;
  top: 37%;
  left: 54%;
  transform: translate(-50%, -50%);
}
